{% extends 'base2.html' %}

{% block head %}
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/practice_home.css' %}">
{% endblock %}

{% block content %}
<img src="{% static 'images/bulbs.jpg' %}" width="100%">
<div class="container">
  <br>
  <h3>Practice</h3>

  {% if question_list %}

  <ul class="no-bullets">

    {% for question in question_list %}
    <li>
      <a href="{% url 'practice:detail' question.id %}">
      <div class="panel panel-default question-box">

        <h3>{{ question.title }}
          <small><span class="label label-default">{{ question.category.name }}</span></small>
        </h3>
        <p class="less-desc">{{ question.statement}}</p>
      </div>
      </a>
    </li>
    {% endfor %}
  </ul>

  {% else %}
  <div class="alert alert-danger" role="alert">
    No Questions found!
  </div>
  {% endif %}
</div>

{% endblock %}