{% extends 'base2.html' %}
{% block title %}Detail{% endblock %}
{% block head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'forum/detail.css' %}">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <p class="head">{{ question.userID.username }}&nbsp;|&nbsp;{{ question.date }} </p>
      <h1>{{ question.question }}</h1>
      
      <h4 class="category"> {{question.ques_category.name}}</h4>
      <div class="add-answer row">
        <a href="{% url 'forum:answerAdd' question.id %}">
          <button class="btn btn-info"> Answer This Question</button></a>
      </div> 
      <hr class="rule">
      <br><br>
      {% for ans in question.answer_set.all %}
        <div class="answer">
          <p>{{ ans.answer }}</p> <br>
          <div class="answer-foot">
            <a href="{% url 'forum:answerUpvote' ans.id %}">
              <span class="label label-info" style="border-radius:15px;">Upvote</span>
              </a>&nbsp;<b>{{ans.upvotes}}</b>
            <h4 class="user-detail">{{ ans.userID.username }}&nbsp;|&nbsp;{{ ans.date}}</h4>
            <hr class="short-separator">
          </div>
        </div>
        <br><br>
      {% endfor %}           
    </div>

    <div class="col-md-2"></div>
  </div>

{% endblock %}
