{% extends 'base2.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/practice_home.css' %}">
{% endblock %}

{% block content %}
<img src="{% static 'articles/comp.jpg' %}" width="100%">
<div class="container">
    <br>
    <div class="container-fluid" style="padding-bottom:10px;">
        <h3>Articles</h3><a href="{% url 'forum:questionAdd'  %}">
        <button class="btn btn-info" style="float:right;">
            <span class="gylphicon glyphicon-plus"></span> Ask Question
        </button>
    </a>
        <!--<br>-->
    </div>
    {% if all_ques %}

    <ul class="no-bullets">

        {% for question in all_ques %}
        <li>
            <a href="{% url 'forum:detail' question.id %}">
                <div class="panel panel-default question-box">

                    <h3>{{ question.title }}
                        <small><span class="label label-default">{{ question.ques_category.name }}</span></small>
                    </h3>
                    <!--<p class="less-desc">{{ article.content | slice:":500" }}..</p>-->
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>

    {% else %}
    <div class="alert alert-danger" role="alert">
        No articles found!
    </div>
    {% endif %}
</div>

{% endblock %}