{% extends 'base2.html' %}
{% block title %}Question{% endblock %}
{% block head %}
{% load static %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'forum/question_form.css' %}">-->
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="col-md-12 head">Ask Question</h2><br><br>
    <form action="" method="post" class="qform" role="form">
        {% csrf_token %}
        {% include 'forum/form_template.html' %}
        <br><br>
        <input class="btn btn-default" type="submit" name="submit" value="Ask">
    </form>
</div>
{%endblock %}



