{% extends 'base2.html' %}

{% block title %}Dashboard{% endblock %}
{% load static %}

{% block content %}


  <!--Row 1: Image + user stats-->
  <div class="row">
    <div class="col-md-8" id="big-logo-bg">
        <br>
        <img src="{% static 'images/doctor.svg' %}" width="30%" >
        <h1 id="username">{{ user.first_name }}&nbsp;{{ user.last_name }}</h1>
    </div>

    <div class="container col-md-4" style="padding-left: 100px">
      <br><br>
      <div class="container-fluid">
        <div class="progress progress-bar-vertical">
          <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="height: 30%;">
          </div>
        </div>

          <div class="progress progress-bar-vertical">
          <div class="progress-bar progress-bar-danger " role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="height: 50%;">
          </div>
        </div>

        <div class="progress progress-bar-vertical">
          <div class="progress-bar progress-bar-success " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 30%;">
          </div>
        </div>

        <div class="progress progress-bar-vertical">
          <div class="progress-bar progress-bar-warning " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 30%;">
          </div>
        </div>
        </div>
        <br>
        <div class="container-fluid">
          <span class="badge">CE </span>&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="badge">WE </span>&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="badge">AC </span>&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="badge">RE </span>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
  </div>
  <br><br>

{% include 'logapp/cardAndFooter.html'%}
 
{% endblock %}