{# <div class="col-md-12 container-fluid header-image">
  <h1 class="entry-title">Code. Practice. Flaunt.</h1>
  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
          <p>Box will come here</p>
      </div>
      <div class="col-md-4"></div>
  </div>
</div>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div class="login_div">
    <div class="col-md-3" style="margin-top:50px"></div>
    <div class="col-md-6">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please Sign In</h3>
            </div>
            <div class="panel-body">
                    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for = "username">Username</label>
                             <input type ="text" name="username" id = "password" class="form-control">
                        </div>
                        <div class="form-group">
                        <label for = "password">Password</label>
                        <input type="password" name="password" class="form-control"> 
                        </div>

                        <p class="bs-component">
                            <center>
                                <input class="btn btn-success btn-sm" type="submit" value="login" />
                            </center>
                        </p>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

 #}
 <form class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username" class="col-sm-3 control-label">
                                Username</label>
                            <div class="col-sm-9">
                                <input type ="text" name="username" id = "username" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-3 control-label">
                                Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm" value="login">
                                    Sign in</button>
                            </div>
                        </div>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>




<form method="post" action="">
{{ form.as_p }}
<input type="submit" value="register" />
{% csrf_token %}
</form>


{% extends 'base.html' %}
{% block title%}Register{% endblock %}
{% block head %}
  {% load static %}
{% endblock %}


{% block body %}

<div class="container" style="margin-top:30px;position:relative">
    <div class="row" >
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <strong>Sign Up</strong>
                </div>
                <div class="panel-body">
                <form method="post" action="">
                    {{ form.as_p }}
                    <input type="submit" value="register" />
                    {% csrf_token %}
                </form>
                   
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% if messages %} 
<ul class="messages"> 
    {% for message in messages %} 
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> 
    {% endfor %} 
</ul> 
{% endif %}

<form method="post" action="">
{{ form.as_p }}
<input type="submit" value="register" />
{% csrf_token %}
</form>


<div>
                            <label class="form-label">{{ field.label_tag }}</label>
                            <div class="form-input">{{ field }}</div>
                          </div>



{% extends 'base.html' %}
{% block title%}Register{% endblock %}
{% block head %}
  {% load static %}
{% endblock %}


{% block body %}

<div class="container" style="margin-top:30px;position:relative">
    <div class="row" >
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <strong>Sign Up</strong>
                </div>
                <div class="panel-body">
                <form method="post" action="">
                {% for field in form %}   
                    {# <span class="label-info">{{ form.subject.errors }}</span>   #}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                    
                        <div class="form-group">
                            <label>{{ field.label_tag }}</label>
                             <input class="form-control" type="{{field.field.widget.input_type}}">
                        </div>
                    {% csrf_token %}
                {% endfor %}
                <input type="submit" value="register" />
                </form>

                
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% for field in form %}   
                    {# <span class="label-info">{{ form.subject.errors }}</span>   #}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                    
                        <div class="form-group">
                            <label>{{ field.label_tag }}</label>
                             <input class="form-control" type="{{field.field.widget.input_type}}">
                        </div>
                    
                {% endfor %}




<html>
<head>
<title>Code Site</title>
</head>
<body>
<h1>Welcome to CodeSite</h1>
{% if user.username %}
<p>Welcome {{ user.username }}!</p><br/>
<p>Add Article : <a href="articles/add/"> Add</a></p>
<p><a href = "{% url 'articles:index' %}">List Of Articles</a>

<p><a href="logout/">logout</a></p>
{% else %}
<p>Welcome anonymous user!
You need to <a href="/login/">login</a></p>
{% endif %}

</body>
</html>