.question-box{
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.question-box:hover{
  background-color: #c8e6c9;
}
.no-bullets{
  list-style-type: none;
}
.less-desc{
  text-overflow: ellipsis;
  line-height: 1.8em;
  max-height: 3.6em;
  overflow: hidden;
  display: block;
  word-wrap: break-word;
  color: black;
}