{% extends 'base2.html' %}
{% block title %}Add an article{% endblock %}

{% load static %}

{% block content %}
<br>
<div class="container">
    <h2>Add an Article</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Enter the article </strong>
        </div>
        <div class="panel-body">
            <form action="" method="post" role="form">
                {% csrf_token %}
                {% for field in form %}

                <span>{{ field.errors }}</span>
                <div>
                    <label class="form-label">{{ field.label_tag }}</label>
                    <div>{{ field }}</div>
                </div>

                {% endfor %}
                <br><br>
                <input class="btn btn-default" type="submit" name="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}



