{% extends 'base2.html' %}
{% block title %}Add an article{% endblock %}

{% load static %}

{% block content %}
<br>
<div class="container">
    <h2>Add an Article</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Enter the article </strong>
        </div>
        <div class="panel-body">
            <form action="" method="post" role="form">
                {% csrf_token %}
                {% include 'articles/form-template.html' %}
                <br><br>
                <input class="btn btn-default" type="submit" name="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}



