{% extends 'base.html' %}
{% block title %}Article{% endblock %}
{% block head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'articles/article_form.css' %}">
{% endblock %}

{% block body %}

<h2 class="col-md-12 head">Add an Article</h2><br><br>
  <form action="" method="post" class="qform" role="form">
  {% csrf_token %}
  {% include 'articles/form-template.html' %}
  <br><br>
  <input class="submit" type="submit" name="submit" value="Submit">
  </form>


{% endblock %}



