@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat|Varela+Round');



.body{
  padding: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0px;

  overflow: hidden;
  height: 100%;
}

.main{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-bottom: 150px;

}

.row{
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.navbar-default {
    background-color: #29C568;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar-custom a {
    display: block;
    color: #ffffff !important;
    font-family: 'Montserrat', sans-serif !important;
    overflow: hidden;

}

#myBar a:hover{
    background-color: #2ca056;
    overflow: hidden;
}

.navbar-brand{
    list-style-type: none;
    overflow: hidden;
}
.navbar-brand a:hover {
    text-decoration: none;
    overflow: hidden;
}
.color-white {
    color: #ffffff
    overflow: hidden;
}


.footer{
  background-color: #29C568;
  padding: 10px;
  bottom: 0;
  width: 100%;
  color: #fff;
  height: 150px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;

  margin: 0;

}

