<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-with, initial-scale=1, user-scalable=no">
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
  <!-- bootstrap.min -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/mine.css' %}">
  <link rel="icon" href="{% static 'images/logo.png' %}">

  <script src="{% static 'js/jquery.min.js' %}"></script>
  {% block head %}
  {% endblock %}
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon-leaf" style="color: #14c07b;"></span> Codersite
          </a>
      </div>
      <div class="navbar-collapse collapse" >
        <ul class="nav navbar-nav navbar-right">
          <li class="active" id="home-tab"><a href="{% url 'logapp:home'%}">Home</a></li>
          <li class id="practice-tab"><a href="{% url 'practice:index' %}">Practice</a></li>
          <li id="article-tab"><a href="{% url 'articles:index' %}">Tutorials</a></li>
          <li id="forum-tab"><a href="{% url 'forum:index' %}">Community</a></li>
          {% if user.is_authenticated %}
          <li class="navbar-custom"><a href="{% url 'logout' %}" class="color-white">
              <span class="glyphicon glyphicon-log-in color-white"></span> Logout {{user.username}}</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>